:root{
    --PrimaryColor: #010c5c; 
    --SecondaryColor: #000c42 ;
    --TerciryColor: #000009;
    --BorderColor: #7c7c7c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}
main{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    background-color: var(--SecondaryColor);
    color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
main .Cartelera{
    width: 100%;
    padding: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}
main .Cartelera h1{
    font-size: 2em;
    padding-left: 5px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #000;
}

main .Movie--Container{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 25px;
    border-radius: 10px;
}
main .Movie--Container .Movie{
    width: 190px;
    cursor: pointer;
    border-bottom: 1px solid var(--BorderColor);
    transition: .1s linear;
}
main .Movie--Container .Movie:hover{
    background-color: #050917 ;
    border-radius: 10px;
}
main .Movie--Container .Movie img{
    width: 190px;
    height: 190px;
    border-radius: 10px;
    transition: .1s linear;
}
main .Movie--Container .Movie:hover img{
    padding: 5px;
    border-radius: 20px;
}
main .Movie--Container .Movie h3{
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
}